.super-heading {
  color: #C2C2FE;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.5px;
}

.heading {
  color: #F8F8FF;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -3px;
}

.body {
  display: inline-flex;
  padding: 124px 165px 0px 166px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #04082C;
  width: 100vw;
}

.sub-heading {
  color: #F8F8FF;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 60px */
  text-transform: capitalize;
}

.sub-heading-span {
  background: linear-gradient(91deg, #9644FF 49.12%, rgba(149, 133, 255, 0.95) 64.25%, rgba(111, 220, 255, 0.88) 97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}

.font-inter {
  font-family: Inter;
}