.footer,
.footer * {
  box-sizing: border-box;
}

.footer {
  background: #302863;
  padding: 24.38px 60.52px 24.38px 60.52px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 30.26px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 827.96px;
  position: relative;
}

.columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  position: relative;
}

.column-1 {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20.17px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 13.45px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.image-17 {
  flex-shrink: 0;
  width: 226.11px;
  height: 126.09px;
  position: relative;
  object-fit: cover;
}

.frame-85 {
  display: flex;
  flex-direction: column;
  gap: 6.72px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.got-queries-mail-us {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 18.49px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-primary-with-icon {
  border-radius: 7.57px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0.84px;
  padding: 13.45px;
  display: flex;
  flex-direction: row;
  gap: 8.41px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 373.21px;
  height: 46.23px;
  position: relative;
}

.color-icon {
  flex-shrink: 0;
  width: 16.81px;
  height: 16.81px;
  position: relative;
}

.vuesax-linear-sms {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}

.input {
  display: flex;
  flex-direction: row;
  gap: 7.57px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.info-shoppealuxworkshop-gmail-com {
  color: #f8f8ff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 18.49px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-2 {
  display: flex;
  flex-direction: column;
  gap: 20.17px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.social {
  flex-shrink: 0;
  width: 137.58px;
  height: 16px;
  position: relative;
  overflow: visible;
}